#MainContainer
    {
        width: 30%;
        margin-left: 35%;
        text-align: center;
        margin-top: 5%;
    }

.MainTitle:hover
    {
        color: white;
    }

#MainCard
    {
        border-radius: 10px;
    }

.MainHeader
    {
        background-color: blueviolet;
        height: 100px;
        border-radius: 10px 10px 0px 0px;
        padding-top: 4%;
    }

.MainInput
    {
        border-radius: 5px;
    }

ul
    {
        list-style-type: none;
        text-align: center;
    }

h1
    {
        font-family: 'Alata';font-size: 40px;
    }

.w3-btn
    {
        margin-bottom: 12px;
        margin-left  : 10px;
    }

.w3-button:hover
    {
        background-color: rgb(223, 15, 15);
    }

span
    {
        color: red;
    }

li
    {
        font-family: fantasy;
    }